@media (min-width: 320px) and (max-width: 767px)
{   
    
    * {
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }

    html,body {
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
    }

    /* -- HEADER -- */

    .header {
        height: 75px;
        display: flex;
        align-items: center;
        background: white;
        z-index: 999;
        justify-content: center;
        padding-right: 30px;
    }
    
    .back {
        display: flex;
        justify-content: space-evenly;
        padding-right: 30px;
    }

    .logo
    {
        width: 40%;
    }

    /* -- SECTION IMAGE -- */

    .background-image {
        background-image: url("../img/image2.jpg");
        background-size: cover;
        height: 300px;
    }

    /* -- SECTION MENU --*/

    .background {
        background-color: #F2F2F2;
        margin-top: -50px;
        width: 100%;
        border-radius: 25px 25px 0px 0px;
        padding: 20px 20px 30px 20px;
    }

    .container-menu {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .title {
        font-family: Shrikhand;
        font-size: 27px;
        padding-left: 5px;
    }

    .icone-heart {
        float: right;
        padding-top: 5px;
        padding-right: 30px;
    }

    .mid-title {
        font-weight: normal;
        border-bottom:solid medium #99E2D0;
        width: 45px;
        padding-bottom: 5px;
        margin-left: 5px;
    }
    
    .container-button-menu {
        display: flex;
        flex-direction: column;
        height: 90px;
        padding-top: 15px;
    }

    .button-menu {
        padding-top: 10px;
        width: 100%;
        height: 70px;
        background-color: rgb(245, 245, 245);
        box-shadow: 5px 5px 15px -5px #aaa;
        border-radius: 15px;
        font-size: 15px;
        font-weight: bold;
    }

    .small {
        font-weight: lighter;
    }

    .prix {
        float: right;
        margin-top: -27px;
        padding-right: 25px;
    }

    a {
        text-decoration: none;
        color: black;
    }
    
    /* -- SECTION COMMANDER -- */

    .container-button {
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100px;
      }
      
    .button {
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55%;
        height: 50px;
        background: linear-gradient(-7deg, #9356DC, #FF79DA);
        border-radius: 25px;
        color: #FFF;
        font-size: 13px;
        font-weight: bold;
        cursor:pointer;
    }

    /* -- FOOTER -- */
    
    footer {
        height: 220px;
        padding: 20px;
    }

    .background-footer {
        background-color:rgb(36, 36, 36);
    }

    #container-footer {
        display: flex;
        flex-direction: column;
        width: 77%;
    }

    .white {
        display: flex;
        color: white;
    }

    .logo-footer {
        font-family: Shrikhand;
        color: white;
        padding-bottom: 10px;
        font-size: 17px;
    }

    /* -- PADDING -- */

    .pad-bottom-10 {
        padding-bottom: 10px;
    }

    .pad-menu {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .pad-bottom-30 {
        padding-bottom: 30px;
    }

    .pad-left-5 {
        padding-left: 5px;
    }

    .pad-left-10 {
        padding-left: 10px;
    }

    .pad-top-10 {
        padding-top: 10px;
    }

    .pad-bottom-20 {
        padding-bottom: 20px;
    }

}