@keyframes degrade {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes coeur {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes loader {
  0% {
    visibility: visible;
  }
}
@keyframes custom-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.light {
  padding-top: 10px;
}

/* @import
  "./vendors/"; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-family: "Roboto", "Helvetica", "arial";
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 27px;
}

h2 {
  padding-left: 10px;
  padding-bottom: 10px;
}

footer {
  height: 220px;
  padding: 20px;
}

.header {
  height: 75px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
}
.header__back {
  display: flex;
  justify-content: center;
}
.header__icone {
  position: absolute;
  left: 20px;
}
.header__logo {
  width: 200px;
}

.footer__background {
  background-color: #242424;
}
.footer__container {
  display: flex;
  flex-direction: column;
  width: 77%;
}
.footer__logo {
  font-family: "Shrikhand", "Jubilat", "Georgia";
  color: white;
  padding-bottom: 10px;
  font-size: 17px;
}
.footer__white {
  display: flex;
  color: white;
  padding-top: 10px;
}
.footer__text-res {
  padding-left: 10px;
}
.footer__text-par {
  padding-left: 5px;
}

.loader {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  cursor: none;
  animation: loader 2.5s ease-in-out 0s none;
}
.loader__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader__demo {
  width: 200px;
  margin: 0 auto;
  position: relative;
  text-align: justify;
}
.loader__custom-loading-spinner {
  cursor: progress;
  position: absolute;
  width: 100%;
  height: 100%;
}
.loader__custom-loading-spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  overflow: hidden;
  background: #0b0b0b;
  opacity: 0.6;
}
.loader__custom-loading-spinner::after {
  box-sizing: border-box;
  z-index: 2;
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  margin: -25px 0 0 -25px;
  border: 25px solid #9356DC;
  border-top: 25px solid #FF79DA;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: custom-loading 0.5s linear infinite;
}

.explore__container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.explore__button {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-7deg, #9356DC, #FF79DA);
  border-radius: 25px;
  color: #FFF;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
  border: none;
  position: relative;
  padding: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  box-shadow: 0 5px 15px #787878;
  transition: box-shadow 0.5s ease-in-out 0s;
}
.explore__button:hover {
  box-shadow: 0 5px 15px #787878;
}
.explore__button:hover::after {
  opacity: 1;
}
.explore__button::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.25);
  transition: opacity 0.5s ease-in-out 0s;
}

.commander__container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
}
.commander__button {
  z-index: 99;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-7deg, #9356DC, #FF79DA);
  border-radius: 25px;
  color: #FFF;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
  border: none;
  width: 180px;
  padding: 20px;
  box-shadow: 0 5px 15px #787878;
  transition: box-shadow 0.5s ease-in-out 0s;
}
.commander__button:hover {
  box-shadow: 0 5px 15px #787878;
}
.commander__button:hover::after {
  opacity: 1;
}
.commander__button::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.25);
  transition: opacity 0.5s ease-in-out 0s;
}

.carte-restaurant {
  width: 100%;
  height: 225px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -5px #aaa;
  background-color: white;
  text-decoration: none;
  color: black;
  position: relative;
  transition: box-shadow 0.5s ease-in-out 0s;
}
.carte-restaurant__img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  width: 100%;
}
.carte-restaurant__texte {
  padding-top: 10px;
  padding-left: 10px;
}
.carte-restaurant__container-rect {
  display: flex;
  justify-content: flex-end;
}
.carte-restaurant__rect {
  width: 90px;
  height: 35px;
  background: #99E2D0;
  color: #11775e;
  font-weight: 800;
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.carte-restaurant:hover {
  box-shadow: 0 5px 15px #787878;
}

.carte {
  display: flex;
  min-width: 220px;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  background: white;
  box-shadow: 5px 5px 15px -5px #aaa;
  border-radius: 25px;
  margin-top: 15px;
  opacity: 0;
  transition: box-shadow 0.5s ease-in-out 0s;
  animation: degrade 1.5s ease-in-out 0s forwards;
}
.carte__texte {
  overflow: hidden;
  white-space: nowrap;
}
.carte__texte > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: 10px;
}
.carte__prix {
  font-weight: 800;
  margin-left: auto;
  align-self: flex-end;
  margin-bottom: 10px;
}
.carte__check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: -20px -110px -20px 20px;
  background: #99E2D0;
  transition: margin-right 0.5s ease-in-out 0s;
}
.carte .fa-check-circle {
  font-size: 27px;
  color: white;
  transform: rotate(0);
  transition: transform 0.5s ease-in-out 0s;
}
.carte:hover {
  box-shadow: 0 5px 15px #787878;
}
.carte:hover .carte__check {
  margin-right: -20px;
}
.carte:hover .fa-check-circle {
  transform: rotate(1turn);
}
.carte:nth-child(3) {
  animation-delay: 0, 3s;
}
.carte:nth-child(4) {
  animation-delay: 0.3s;
}
.carte:nth-child(5) {
  animation-delay: 0.5s;
}
.carte:nth-child(6) {
  animation-delay: 0.6s;
}

.heart-index {
  float: right;
  padding-right: 30px;
  position: relative;
  -webkit-text-stroke: 1.5px white;
  cursor: pointer;
}
.heart-index:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}
.heart-index:hover .heart-color {
  opacity: 1;
  transform: scale(1);
}
.heart-index .heart-color {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  opacity: 0;
  transform: scale(0);
  animation: coeur 1.5s ease-in-out 0s forwards;
}

.heart {
  float: right;
  padding-right: 30px;
  position: relative;
  -webkit-text-stroke: 2px white;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 3px;
}
.heart:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}
.heart:hover .heart-color {
  opacity: 1;
  transform: scale(1);
}
.heart .heart-color {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out 0s;
}

.loader {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  cursor: none;
  animation: loader 2.5s ease-in-out 0s none;
}
.loader__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader__demo {
  width: 200px;
  margin: 0 auto;
  position: relative;
  text-align: justify;
}
.loader__custom-loading-spinner {
  cursor: progress;
  position: absolute;
  width: 100%;
  height: 100%;
}
.loader__custom-loading-spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  overflow: hidden;
  background: #0b0b0b;
  opacity: 0.6;
}
.loader__custom-loading-spinner::after {
  box-sizing: border-box;
  z-index: 2;
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  margin: -25px 0 0 -25px;
  border: 25px solid #9356DC;
  border-top: 25px solid #FF79DA;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: custom-loading 0.5s linear infinite;
}

.lieu__container {
  height: 50px;
  background: #ece7e7;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 8px 14px -6px #aaa;
}
.lieu__map {
  padding-top: 15px;
  display: flex;
  color: grey;
  font-weight: 600;
}
.lieu__texte {
  padding-left: 10px;
}

.explore__container {
  padding: 30px 30px 30px 30px;
}

.explore {
  text-align: center;
}

.light {
  font-weight: 300;
}

.button {
  background: linear-gradient(-7deg, #9356DC, #FF79DA);
}

.fon__container {
  padding: 30px 20px 30px 20px;
}
.fon__titre {
  padding-left: 10px;
  padding-bottom: 20px;
}
.fon__container-button {
  display: flex;
  align-items: center;
  height: 90px;
  padding-bottom: 20px;
}
.fon__rond {
  z-index: 1;
  display: flex;
  height: 25px;
  width: 25px;
  color: white;
  background-color: #9356DC;
  align-items: center;
  border-radius: 35px;
  justify-content: center;
  position: absolute;
}
.fon__button {
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 70px;
  padding-left: 30px;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 15px -5px #aaa;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out 0s;
}
.fon__button:hover {
  box-shadow: 0 5px 15px #787878;
  background-color: #9256dc2c;
}
.fon:hover {
  box-shadow: 0 5px 15px #787878;
}
.fon__texte {
  padding-left: 10px;
}
.fon__icone {
  color: grey;
}
.fon__icone:hover {
  color: #9356DC;
}

.restaurant__background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F2F2F2;
  padding-top: 30px;
  width: 100%;
  margin-left: 0px;
  padding-bottom: 40px;
  padding: 30px 30px 30px 30px;
}
.restaurant__titre {
  padding-left: 10px;
  padding-bottom: 10px;
}
.restaurant__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  background: linear-gradient(-7deg, #9356DC, #FF79DA);
}

.background-image {
  background-size: cover;
  height: 300px;
}

.gout {
  background-image: url("../../img/image1.jpg");
}

.note {
  background-image: url("../../img/image2.jpg");
}

.french {
  background-image: url("../../img/image3.jpg");
}

.sens {
  background-image: url("../../img/image4.jpg");
}

.menu__background {
  background-color: #F2F2F2;
  margin-top: -50px;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  padding: 30px 30px 30px 30px;
}
.menu__contenair {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 20px;
}
.menu__part {
  padding-bottom: 30px;
}
.menu__title {
  font-family: "Shrikhand", "Jubilat", "Georgia";
  font-size: 27px;
  padding-left: 5px;
  padding-bottom: 20px;
}
.menu__title__mid {
  font-weight: 600;
  border-bottom: solid medium #99E2D0;
  width: 45px;
  padding-bottom: 5px;
  padding-left: 0px;
  margin-left: 5px;
}

/*# sourceMappingURL=style.css.map */
