.explore {

  &__container-button {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  &__button {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-7deg, $primary-color, $secondary-color);
    border-radius:$border-radius-med2;
    color: #FFF;
    font-size: $font-size-min;
    font-weight: $font-bold;
    cursor:pointer;
    border: none;
    position: relative;
    padding: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    box-shadow: $box-shadow-hover;
    @include transition(box-shadow);
  }


  &__button:hover {
    box-shadow: $box-shadow-hover;
  }

  &__button:hover::after {
    opacity: 1;
  }

  &__button::after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.25);
    transition: opacity 0.5s ease-in-out 0s;
  }
}

.commander {

  &__container-button {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    height: 170px;
    padding-bottom: 50px;
  }

  &__button {
    z-index: 99;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-7deg, $primary-color, $secondary-color);
    border-radius:$border-radius-med2;
    color: #FFF;
    font-size: $font-size-min;
    font-weight: $font-bold;
    cursor:pointer;
    border: none;
    width: 180px;
    padding: 20px;
    box-shadow: $box-shadow-hover;
    transition: box-shadow 0.5s ease-in-out 0s;
  }

  &__button:hover {
    box-shadow: $box-shadow-hover;
  }

  &__button:hover::after {
    opacity: 1;
  }

  &__button::after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $border-radius-med2;
    background: rgba(255, 255, 255, 0.25);
    transition: opacity 0.5s ease-in-out 0s;
  }
}
