// SECTION LIEU

.lieu {
    &__container {
        height: 50px;
        background: #ece7e7;
        display: flex;
        justify-content: center;
        box-shadow: $box-shadow-inset;
    }

    &__map {
        padding-top: 15px;
        display: flex;
        color: grey;
        font-weight: $font-regular;
    }

    &__texte {
        padding-left:10px;
    }
}

// SECTION EXPLORER

.explore__container {
    @include section-container (30px, 30px, 30px, 30px);
}

.explore {
    text-align: center;
}

.light {
    font-weight: $font-light;
}

.button {
    background: linear-gradient(-7deg, $primary-color, $secondary-color);
}


// SECTION FONCTIONNEMENT

.fon {
    
    &__container {
        @include section-container (30px, 20px, 30px, 20px);
    }
    
    &__titre {
        padding-left:10px;
        padding-bottom:20px;
    }

    &__container-button {
        display: flex;
        align-items: center;
        height: 90px;
        padding-bottom: 20px;
    }

    &__rond {
        z-index: 1;
        display: flex;
        height: 25px;
        width: 25px;
        color: white;
        background-color: $primary-color;
        align-items: center;
        border-radius:$border-radius-max;
        justify-content: center;
        position: absolute;
    }

    &__button {
        z-index: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 95%;
        height: 70px;
        padding-left: 30px;
        background-color: #f6f6f6;
        box-shadow: 5px 5px 15px -5px #aaa;
        border-radius: $border-radius-med;
        font-size: $font-size-min;
        font-weight: $font-bold;
        cursor: pointer;
        @include transition(background-color);  
    }
    
    &__button:hover {
        box-shadow: 0 5px 15px #787878;
        background-color: #9256dc2c;
    }

    &:hover {
        box-shadow: $box-shadow-hover;
    }

    &__texte {
        padding-left:10px;
    }

    &__icone {
        color:grey;
    }
    
    &__icone:hover {
        color: $primary-color;
    }
}


// SECTION RESTAURANT 

.restaurant { 

    &__background {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #F2F2F2;
        padding-top: 30px;
        width: 100%;
        margin-left: 0px;
        padding-bottom: 40px;
        @include section-container (30px, 30px, 30px, 30px);
    }

    &__titre {
        padding-left:10px;
        padding-bottom:10px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

