.button {
    background: linear-gradient(-7deg, $primary-color, $secondary-color);
}

// SECTION IMAGE

 .background-image {
    background-size: cover;
    height: 300px;
} 

.gout {
    background-image: url("../../img/image1.jpg");
}

.note {
    background-image: url("../../img/image2.jpg");
}

.french {
    background-image: url("../../img/image3.jpg");
}

.sens {
    background-image: url("../../img/image4.jpg");
}

// SECTION MENU

.menu {

    &__background {
        background-color: #F2F2F2;
        margin-top: -50px;
        width: 100%;
        border-radius: 25px 25px 0px 0px;
        @include section-container (30px, 30px, 30px, 30px);
    }

    &__contenair {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    &__part {
        padding-bottom:30px;
    }

    &__title {
        font-family: $font-serif;
        font-size: $font-size-max;
        padding-left: 5px;
        padding-bottom: 20px;
    }

    &__title__mid {
        font-weight: $font-regular;
        border-bottom:solid medium #99E2D0;
        width: 45px;
        padding-bottom: 5px;
        padding-left:0px;
        margin-left: 5px;
    }
}
