// DEGRADE

@keyframes degrade {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to {
        opacity:1;
        transform: translateY(0%);
    }
}

// COEUR

@keyframes coeur {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

// LOADER

@keyframes fondu {
    0% {
        visibility:visible;
    }
}

@keyframes apparition {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(2);
    }
}
