.footer {

    &__background {
        background-color:rgb(36, 36, 36);
        @include section-container (30px, 0px, 30px, 30px);
    }

    &__max-container {
        max-width: 1400px;
        margin: auto;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 77%;
    }

    &__logo {
        font-family: $font-serif;
        color: white;
        padding-bottom: 10px;
        font-size: $font-size-med;
    }

    &__white {
        display: flex;
        color: white;
        padding-top:10px;
    }
    
    &__text-res {
        padding-left:10px;
    }

    &__text-par {
        padding-left: 5px;
    }
}
